<!DOCTYPE html>
<html lang="en" ng-app="financeApp">
<head>
  <title>Personal Capitol App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="libs/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="libs/bootstrap.min.js"></script>
  <script src="libs/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Personal Capitol</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-controller="financeCtrl">

   <!--  <div data-ng-repeat="pname in productData track by $index">
    {{pname}}
    </div> -->

    
      <form>
        <div class="input-group">
          <input type="text" class="form-control input-lg"  ng-model="search" placeholder="Search" ng-change="highlightText();">
          <div class="input-group-btn">
            <button class="btn-lg btn-default" type="submit" ng-click="getData()"><i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <br><br>
    <table class="table table-striped">
          <tr>
            <th>NAME</th>
            <th>TYPE</th>
            <th>LINK</th>
          </tr>
          <tr ng-repeat="product in data | filter : search">
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.url}}</td>
          </tr>
    </table>

    </div>

</body>
</html>